@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    display: flex;
    background: #DECECE;
    align-items: center;
    justify-content: center;
}

input, button {
    font-family: inherit
}

#Display:hover {
    cursor: pointer;
}

#Calculator {
    display: flex;
    background: #413f3f;
    box-shadow: 0 0 8px 4px rgba(50, 50, 50, 0.3);
    padding: 10px;
    border-radius: 4px;
    flex-direction: column;
    font-family: "Share Tech Mono", monospace;
}

#Buttons {
    margin-top: 10px;
    display: grid;
    grid-template-areas:
        "CE C  .  ."
        "N1 N2 N3 ."
        "N4 N5 N6 ."
        "N7 N8 N9 ."
        "N0 .  .  .";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows   : repeat(5, 1fr);
}

#N0 { grid-area: N0 }
#N1 { grid-area: N1 }
#N2 { grid-area: N2 }
#N3 { grid-area: N3 }
#N4 { grid-area: N4 }
#N5 { grid-area: N5 }
#N6 { grid-area: N6 }
#N7 { grid-area: N7 }
#N8 { grid-area: N8 }
#N9 { grid-area: N9 }

#Calculator input {
    text-align: right;
}

#Buttons button {
    --background: dimgray;
    aspect-ratio: 1 / 1;
    margin: 3px;
    border-radius: 4px;
    color: white;
    background: var(--background);
    box-shadow: inset 0 0 1px 2px rgb(63, 63, 63);
    cursor: pointer;
    outline: inherit;
    border: none;
}

#Buttons button:focus {
    outline: auto;
}

#Buttons button:active {
    filter: brightness(0.9);
}

#Buttons button#Backspace { --background: rgb(220, 110, 50) }
#Buttons button#Clear     { --background: rgb(220,  50, 50) }
#Buttons button.number    { --background: gray    }
#Buttons button.operator  { --background: dimgray }